@import "variables";
@import "modules";
@import "mediaqueries";

body {
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  color: white;
  height: 100vh;
}

/* NAVBAR */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4d4d4d;
  margin: auto;
  width: 80%;
  padding: 10px 0;
  @include mobile {
    flex-direction: column;
  }

  &-logo {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: $first-font;
    line-height: 30px;
    letter-spacing: 0.5px;
    @include mobile {
      font-size: 26px;
      height: 60px;
    }
    @include tablet {
      font-size: 23px;
    }

    span {
      color: crimson;
    }
  }
  &-menu {
    @include tablet {
      display: none;
    }
    ul {
      display: flex;
      gap: 25px;
      font-size: 16px;
      font-weight: 600;
      flex-direction: row;
      @include mobile {
        gap: 10px;
      }
      @include tablet {
        gap: 8px;
        flex-wrap: wrap;
      }
      li {
        list-style: none;
        &:nth-child(1) {
          a {
            color: #fff;
            font-weight: 600;
          }
        }
        a {
          @include mobile {
            font-size: 14px;
          }
          @include tablet {
            font-size: 15px;
          }
          color: #c4c4c4;
          text-decoration: none;
          font-family: $second-font;
          @extend %text-type;
        }
      }
    }
  }
  &-dropdown {
    display: none;
    position: relative;
    @include tablet {
      display: block;
    }
    &s {
      margin-top: 0;
      margin-bottom: 0;
      li {
        list-style-type: none;
        &:hover {
          .header-dropdowns-menu {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
              a {
                &:hover {
                  color: #978c8c;
                }
              }
            }
          }
        }
        i {
          font-size: 32px;
        }
      }
      &-menu {
        position: absolute;
        background-color: crimson;
        padding: 10px 15px;
        left: -66%;
        display: none;
        top: 75%;
        border-radius: 10px;

        li a {
          text-decoration: none;
          margin-bottom: 20px;
          color: white;
          font-family: $second-font;
        }
      }
    }
  }
}
.more {
  display: flex;
  justify-content: space-between;
  width: max-content;
  background: $bg-banner;
  gap: 20px;
  padding: 12px 15px;
  border-radius: 15px;
  color: #c9c9c9;
  font-family: $second-font;
  font-size: 16px;
}

/* TITLEE */
.title {
  width: 80%;
  margin: 30px auto;
  @include mobile {
    margin: 30px auto auto;
  }
  @include tablet {
    margin: 30px auto 5px auto;
  }

  &-text {
    font-family: $third-font;
    font-weight: 700;
    font-size: 36px;
    background-color: red;
    background: linear-gradient(
      134.01deg,
      rgba(175, 232, 249, 0.841) 20%,
      #d7dce1 90%
    );
    background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: transparent;
    @include mobile {
      font-size: 19px;
      text-align: center;
    }
    @include tablet {
      font-size: 22px;
    }
    @include pc {
      font-size: 24px;
    }
    h2{
      @include pc {
        margin-bottom: 15px;
        margin-top: 0px;
      }
      @include tablet {
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
  }
  &-bio {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin: 30px 0;
    }
    @include tablet {
      gap: 0px;
      flex-direction: column;
      position: relative;
      margin-bottom: 0;
      margin-top: 35px;
    }
    @include pc {
      gap: 15px;
      margin-top: 0;
    }
    &-avatar {
      img {
        @extend %image-border;
      }
      @include pc {
        padding-top: 25px;
      }
    }
    &-summer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      gap: 10px;
      @include mobile {
        flex-direction: column-reverse;
        padding: 0;
      }
      @include tablet {
        padding: 0;
        margin-top: 5px;
      }
      @include pc {
        align-items: start;
        gap: 20px
      }
      h4 {
        @extend %h4-title;
        margin-top: 30px;
        margin-bottom: 0;
        @include tablet {
          margin-top: 5px;
        }
      }
      .biography {
        width: 65%;
        color: aqua;
        text-align: center;
        @include mobile {
          width: 100%;
        }
        @include tablet {
          width: 100%;
          h4 {
            text-align: start;
          }
        }

        p {
          @extend %text-type;
          text-align: center;
          @include tablet {
            text-align: start;
            margin-top: 5px;
          }
        }
      }
      .social {
        h4 {
          color: aqua;
          @include tablet {
            padding-bottom: 10px;
          }
        }
        @include tablet {
          position: absolute;
          top: 21%;
          left: 68.5%;
          transform: translate(-50%, -50%);
          /* top: 0%;
          left: 40%;
          transform: translate(-5%,40%); */
        }
        @include pc {
          width: 230px;
          padding: 0 40px;
        }

        &-list {
          gap: 20px;
          display: flex;
          flex-direction: row;
          font-size: 32px;
          cursor: pointer;
          @include mobile {
            justify-content: center;
          }
          @include tablet {
            margin-top: 7Fpx;
            font-size: 28px;
            gap: 18px;
          }
          @include pc {
            margin-top: 20px;
            gap: 10px;
            flex-wrap: wrap;
          }
        }
        h4 {
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}

/* WHAT I DO JOB */
.job {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 30px;
  @include mobile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  @include tablet {
    flex-direction: column;
  }
  @include pc {
    gap: 15px;
  }
  &-what {
    @include mobile {
      margin-bottom: 10px;
    }
    @include pc {
    }
    h4 {
      @extend %h4-title;
      color: aqua;
      @include mobile {
        margin-top: 0;
        color: aqua;
        margin-bottom: 0;
      }
      @include tablet {
        margin-top: 0;
        margin-bottom: 0;
      }
      @include pc {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    p {
      @extend %text-type;
      @extend %text-hide-limits;
      @include tablet {
        margin-top: 5px;
        margin-bottom: 15px;
      }
      @include pc {
        --max-lines: 5;
      }
    }
  }
  &-card {
    display: flex;
    flex-direction: row;
    gap: 25px;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      justify-content: center;
    }
    @include pc {
      min-width: 51%;
      justify-content: end;
    }
    &-type {
      width: 250px;
      position: relative;
      border-radius: 15px;
      padding-top: 40px;
      background: $bg-banner;
      text-align: center;
      @include tablet {
        width: 300px;
      }
      @include pc {
        min-width: 40%;
      }
      img {
        position: absolute;
        top: -16%;
        left: 35%;
        width: 38px;
        height: 38px;
        @extend %image-border;
        padding: 15px;
        border: double 2px transparent;
        @include mobile {
          width: 32px;
          height: 32px;
          top: 0%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        @include pc {
          top: 0%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      h4 {
        @extend %h4-title;
        font-size: 16px;
        padding: 0 8px;
        font-weight: 500;
      }
      p {
        @extend %text-type;
        font-size: 14px;
        line-height: 20px;
        padding: 0 20px;
      }
    }
  }
}

/* FEATURED PROJECT */
.featured {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include mobile {
    gap: 25px;
  }
  @include tablet {
    gap: 20px;
  }
  @include pc {
    gap: 10px;
    margin-bottom: 0;
  }

  h4 {
    @extend %h4-title;
    margin-bottom: 0;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    @include mobile {
      font-size: 32px;
      text-align: center;
    }
    @include tablet {
      font-size: 38px;
    }
  }

  &-project {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-height: 300px;
    margin-bottom: 80px;
    @include mobile {
      gap: 20px;
    }
    @include tablet {
      width: 100%;
      max-height: 160px;
      margin-bottom: 0px;
      gap: 15px;
    }
    @include pc {
      margin-bottom: 20px;
    }
    img {
      width: 40%;
      @include mobile {
        width: 100%;
      }
      @include tablet {
        width: 32%;
      }
      @include pc {
        width: 45%;
        min-height: 200px;
      }
    }
    @include mobile {
      flex-direction: column;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      @include pc {
        gap: 1vw;
        justify-content: center;
      }
      @include tablet {
        gap: 0;
      }
      h4 {
        @extend %text-hide-limits;
        --max-lines: 1;
        @include mobile {
          margin: 0;
          text-align: center;
          font-size: 24px;
        }
        @include tablet {
          font-size: 25px;
        }
        @include pc {
          font-size: 28px;
        }
      }
      p {
        font-size: 18px;
        @extend %text-type;
        @include mobile {
          margin: 0 auto;
          text-align: center;
        }
        @include tablet {
          font-size: 18px;
          margin: 0;
        }
        @include pc {
          margin: 0;
        }
      }
      span {
        @extend %text-type;
        font-size: 16px;
        @extend %text-hide-limits;
        @include tablet {
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
          --max-lines: 2;
        }
        @include mobile{
          text-align: center;
        }
      }
    }
  }
}

/* SNIPPET */
.snippet-card {
  margin: 100px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include mobile {
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  @include tablet {
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 15px;
  }
  @include pc {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  h4 {
    @extend %h4-title;
    margin-bottom: 0;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    @include mobile {
      font-size: 32px;
      text-align: center;
    }
    @include tablet {
      font-size: 38px;
    }
  }

  &-types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
  }
  &-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bg-banner;
    flex-grow: 1;
    flex-basis: 36%;
    border-radius: 20px;
    padding: 30px;
    gap: 30px;
    @include mobile {
      gap: 20px;
    }
    @include tablet {
      width: 30%;
    }

    .description {
      display: flex;
      flex-direction: column;
      h4 {
        @extend %h4-title;
        font-size: 28px;
        @extend %text-hide-limits;
        --max-lines: 1;
        @include mobile {
          text-align: start;
          font-size: 24px;
        }
        @include tablet {
          font-size: 26px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @include pc {
        }
      }
      p {
        @extend %text-type;
        @extend %text-hide-limits;
        --max-lines: 1;
        @include mobile {
          margin: 5px 0;
          font-size: 16px;
        }
        @include tablet {
          font-size: 15px;
        }
      }
    }
    img {
      width: 39px;
      height: 39px;
      background-color: white;
      border-radius: 10px;
      @include mobile {
        width: 32px;
        height: 32px;
      }
      @include tablet {
        width: 32px;
        height: 32px;
      }
    }
    .detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-icon {
        display: flex;
        gap: 15px;
        align-items: center;
        flex-wrap: wrap;
      }
      &-star {
        display: flex;
        align-items: center;
        img {
          background: none;
          width: 32px;
          height: 32px;
          @include mobile {
            width: 24px;
            height: 24px;
          }
          @include tablet {
            width: 22px;
            height: 22px;
          }
        }
        p {
          @extend %text-type;
          @include mobile {
            font-size: 14px;
          }
          @include tablet {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/* FOoter */
.footer {
  margin: 100px auto;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: $bg-banner;
  @include mobile {
    flex-direction: column;
    gap: 20px;
    margin-top: 55px;
    padding: 40px 0 ;
  }
  @include tablet {
    gap: 5vw;
    padding: 10px 0;
    margin-top: 20px;
  }
  @include pc {
    margin-top: 20px;
    padding: 25px 0px;
    gap: 0;
    text-align: center;
  }
  &-logo {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: $first-font;
    line-height: 30px;
    letter-spacing: 0.5px;
    @include pc {
      width: 40%;
    }
    @include tablet{
      padding-left: 4%;
    }
    h1 {
      @include mobile {
        font-size: 28px;
        text-align: center;
        margin: 0;
      }
      @include tablet {
        font-size: 4vw;
        transform: translate(0%, 220%);
      }
      @include pc {
        font-size: 38px;
        text-align: center;
        transform: translate(0%, 220%);
      }
    }
    span {
      color: crimson;
    }
  }
  &-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    @include mobile {
      gap: 0px;
      width: 100%;
    }
    @include pc {
      gap: 10px;
      width: 50%;
      align-items: center;
      justify-content: center;
    }
    ul {
      display: flex;
      gap: 25px;
      font-size: 16px;
      font-weight: 600;
      flex-direction: column;
      @include mobile {
        width: 100%;
        font-size: 14px;
        text-align: center;
        gap: 10px;
        padding: 0 15px;
      }
      @include tablet {
        padding: 0;
      }
      li {
        list-style: none;
        a {
          color: white;
          text-decoration: none;
          font-family: $second-font;
          @include tablet {
            font-size: 2vw;
          }
        }
        &:nth-child(1) {
          a {
            color: crimson;
          }
        }
      }
    }
  }
}
